.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: white; /* entspricht bg-gray-100 */
  display: flex;
  align-items: flex-start; /* Inhalt oben ausrichten */
  justify-content: flex-start;
  padding-top: 8rem; /* Abstand von oben anpassen (z. B. 4rem) */
  padding-left: 0;
}

.container {
  max-width: 1200px;
  margin: 0 6rem;
  padding: 4rem 1rem;
}

.title {
  font-size: 4.5rem; /* text-4xl */
  font-weight: regular;
  margin-bottom: 1rem; /* mb-4 */
  color: #111827;
  font-family: "Georgia", serif;
}

.subtitle {
  /* Verlauf von rechts nach links */
  background: linear-gradient(to right, #990000 0%, #120071 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Chrome, Safari */
  color: transparent; /* Fallback / Firefox */
  font-size: 1.3125rem; /* text-xl */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 2rem;
}

.cornerImage {
  position: absolute;
  right: 1.5rem;
  bottom: 0rem;
  width: 850px;
  max-width: 100vw;
  height: auto;
  z-index: 10;
  pointer-events: none;
}
