/* filepath: /Users/michael/Documents/Studium/Semester 3/Digital Media und Webtochnologien/website/finanzbildung/src/components/charts/LineChartBTC/Bitcoin.module.css */
.chartContainer {
  background-color: #111827; /* Hier Ihre gewünschte Farbe einfügen */
  padding: 1rem;
  border-radius: 8px;
}
